<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'polls/css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <title>My poll page</title>
</head>
<body>
  <div class="container py-5">
    <h1 class="pb-3">{{ poll_head }}</h1>
    <div class="row">
      <div class="col-md-12 border border-dark">
        <h2 class="py-3">Poll List</h2>
        <ul>
          {% for poll in poll_list %}
            <li>{{ poll.id }}. {{ poll.title }} ({{ poll.question_count }}) - {% if user.is_authenticated %}<a href="{% url 'detail' poll_id=poll.id %}">detail</a>{% endif %}
                <a href="{% url 'update_poll' poll.id %}">update</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% if user.is_authenticated %}
    <p>
        <a href="{% url 'logout' %}">LOGOUT</a>
    </p>
   {% endif %}

  {% if perms.polls.add_poll %}
    <p>
        <a href="{% url 'create_poll' %}">CREATE NEW POLL</a>
    </p>
  {% endif %}
</body>
</html>
